{% include '__has-variables' %}
<section id="cart-wrap" class="section-wrap">

  <form action="/cart" method="post" id="cartform1">

    {% include '__cart-breadcrumb' %}
    <div class="checkout_main">
      <div class="col-cart-left">

        <div class="checkout_stage1">

          {% include '__formatted-content' %}
          {% if has_cart %}

          {% if cart.item_count == 0 %}
          <h2>Your cart is empty!</h2>
          <p>Please add some items.</p>
          {% else %}

          {% include '__cart-table-buy' %}
          {% include '__cart-table-acc' %}
          {% include '__cart-table-try' %}

          {% endif %}
          {% endif %}
        </div>




        <a id="details"></a>


        <div class="checkout_stage2">
          <h2>Details</h2>




          <div class="radioOptions clearfix stage2question2">
            <fieldset>
              <legend class="clearfix">How would you like to send us your prescription?</legend>
              {% assign attribute = 'prescription-method' %}

              {% for i in (1..3) %}

              <div class="radioWrap">
                {% capture option %}{% cycle 'Upload a picture', 'Call my doctor', 'Send later' %}{% endcapture %}
                <h4 class="radioTitle">{{ option }}</h4>

                <input class="radioNode addRequired nodeSend" type="radio" id="{{ option | handleize }}-{{ i }}" name="attributes[{{ attribute }}]" value="{{ option }}" />


                <label class="radioLabel nodeSend {{ option | handleize }}" for="{{ option | handleize }}-{{ i }}">
                  {{ option }}
                </label>


              </div>
              {% endfor %}
            </fieldset>
          </div>






          <div class="prescription-upload">

            <p>Upload a digital copy of your most recent optical prescription.</p>
            <p>Select a file from your computer.</p>


            <input id="presc_url" type="hidden" name="attributes[prescription]" value="hidden"/>

            <input type="file" id="file-chooser" />
            <button id="upload-button">Upload photo</button>
            <div id="results"></div>


            <script type="text/javascript">
              var result;
              var obj_params = {};
              var bucket = new AWS.S3({params: {Bucket: 'supahands'}});

              var fileChooser = document.getElementById('file-chooser');
              var button = $("#upload-button");
              var results = document.getElementById('results');

              button.click(function(e) {
                e.preventDefault();
                var file = fileChooser.files[0];
                if (file) {
                  results.innerHTML = '';

                  var params = {Key: file.name, ContentType: file.type, Body: file};
                  obj_params = {Bucket: 'supahands', Key: file.name, Expires: 100000};
                  result = bucket.putObject(params, function (err, data) {

                    results.innerHTML = err ? 'ERROR!' : 'UPLOADED.';
                    bucket.getSignedUrl('getObject', obj_params, function (err, url) {
                     console.log("The URL is", url);
                     $("#presc_url").attr("value", url);
                   })
                  });
                } else {
                  results.innerHTML = 'Nothing to upload.';
                }
              })


              var url = bucket.getSignedUrl('getObject', obj_params, function (err, url) {
               if (url) contactsole.log("The URL is", url);
             });
           </script>

         </div>

         <div class="prescription-doctor clearfix">
          <p>Enter your doctor’s name and contact number.</p>
          <label for="doctorName">Doctor's name</label>
          <input type="text" id="doctorName" name="attributes[doctor]" value="{{ cart.attributes.doctor }}" />
          <label for="doctorNumber">Doctor's number</label>
          <input type="text" id="doctorNumber" name="attributes[doctor]" value="{{ cart.attributes.doctor }}" />
        </div>

        <div class="prescription-address">
          <p>
            Once you have your prescription, send it to us at <a href="mailto:hello@scarlettofosoho.com">hello@scarlettofosoho.com</a>.
          </p>
        </div>



        <div class="radioOptions clearfix stage2question3">
          <fieldset>
            <legend class="clearfix">Do you want ultra high-index lenses if necessary?</legend>
            {% assign attribute = 'high-index' %}
            {% for i in (1..2) %}
            <div class="radioWrap clearfix">
              {% capture option %}{% cycle 'Yes', 'No' %}{% endcapture %}
              <h4 class="radioTitle">{{ option }}</h4>

              <input class="radioNode addRequired nodeHil" type="radio" id="{{ option | handleize }}-{{ i }}" name="attributes[{{ attribute }}]" value="{{ option }}" />

              <label class="radioLabel nodeHil {{ option | handleize }}" for="{{ option | handleize }}-{{ i }}">{{ option }}</label>
            </div>
            {% endfor %}
          </fieldset>
        </div>



        <div class="radioOptions clearfix stage2question4">
          <fieldset>
            <legend class="clearfix">Do you want to measure your pupillary distance (PD)?</legend>
            {% assign attribute = 'pd-tool' %}
            {% for i in (1..2) %}
            <div class="radioWrap clearfix">

              {% capture option %}{% cycle 'measure', 'dont-measure' %}{% endcapture %}
              <h4 class="radioTitle {{ option }}">{{ option }}</h4>

              <input class="radioNode addRequired nodeMeasure" type="radio" id="{{ option | handleize }}-{{ i }}" name="attributes[{{ attribute }}]" value="{{ option }}" />

              <label class="radioLabel nodeMeasure {{ option | handleize }}" for="{{ option | handleize }}-{{ i }}">{{ option }}</label>

            </div>
            {% endfor %}
          </fieldset>
        </div>


        <div class="radioOptions clearfix">
          <div class="prescription-pd">
            <p>Measuring your pupillary distance (PD) is important for us to process your order and ensure the right fit for your prescription lens. Click on the tool below and follow the quick steps to measure your PD. </p>
            <p><a href="http://pd-tool.herokuapp.com" class="launch">Launch tool</a></p>
            <p><strong>Copy your measurements from the tool and paste it here.</strong></p>
            <input type="text" name="attributes[pd]" value="{{ cart.attributes.pd }}" />
          </div>
        </div>
      </div>
    </div>

    <div class="col-cart-right">
      {% include '__cart-price' %}

      <section class="cart-customer">
        {% include '__cart-customer' %}
      </section>

      <section class="cart-list">
        {% include '__cart-item-list' %}
      </section>

    </div>

  </div>


</form>



</section>

<script>


  $(document).ready(function(){



    $('.launch').click(function(event) {
      event.preventDefault();
      window.open($(this).attr("href"), "popupWindow", "width=600,height=600,scrollbars=yes");
    });

    function remove_item(id) {
      document.getElementById('updates_'+id).value = 0;
      document.getElementById('cart').submit();
    }



  });


 console.log('Yaoza!')

</script>





