{% include '__has-variables' %}
<section id="cart-wrap" class="section-wrap">

  <form action="/cart" method="post" id="cartform1">

    {% include '__cart-breadcrumb' %}
    <div class="checkout_main">
      <div class="col-cart-left">

        <div class="checkout_stage1">

          {% include '__formatted-content' %}
          {% if has_cart %}
          {% if cart.item_count == 0 %}
          <h2>Your cart is empty!</h2>
          <p>Please add some items.</p>
          {% else %}
          {% include '__cart-table-buy' %}
          {% include '__cart-table-acc' %}
          {% include '__cart-table-try' %}

          {% endif %}
          {% endif %}
        </div>

        <div class="checkout_stage2">
          <h2>Details</h2>
          <h3 class="clearfix">What kind of glasses do you need?</h3>


          <div class="radioOptions clearfix stage2question1">

            {% assign attribute = 'glasses-type' %}
            {% for i in (1..2) %}
            <div class="radioWrap clearfix">
              {% capture option %}{% cycle 'Prescription', 'Non-RX' %}{% endcapture %}
              <h4 class="radioTitle">{{ option }}</h4>
              <input class="radioNode" type="radio" id="{{ option }}-{{ i }}" name="attributes[{{ attribute }}]" value="{{ option }}"{% if cart.attributes[attribute] == option %} checked="checked"{% endif %} />
              <label class="radioLabel {{ option | handleize }}" for="{{ option | handleize }}-{{ i }}">{{ option }}</label>
            </div>
            {% endfor %}

          </div>


          <h3 class="clearfix">How would you like to send us your prescription?</h3>


          <div class="radioOptions clearfix stage2question2">

            {% assign attribute = 'prescription-method' %}
            {% for i in (1..3) %}
            <div class="radioWrap clearfix">
              {% capture option %}{% cycle 'Upload a picture', 'Call my doctor', 'Send later' %}{% endcapture %}
              <h4 class="radioTitle">{{ option }}</h4>

              <input class="radioNode" type="radio" id="{{ option }}-{{ i }}" name="attributes[{{ attribute }}]" value="{{ option }}"{% if cart.attributes[attribute] == option %} checked="checked"{% endif %} />
              <label class="radioLabel {{ option | handleize }}" for="{{ option | handleize }}-{{ i }}">{{ option }}</label>
            </div>
            {% endfor %}

          </div>



          <div class="radioOptions clearfix">

            <div class="prescription-upload">

              <p>Upload a digital copy of your most recent optical prescription.</p>
              <p>Select a file from your computer.</p>
              <input type="file" name="attributes[prescription]" value="{{ cart.attributes.prescription }}" />
            </div>

            <div class="prescription-doctor">
              <p>Enter your doctor’s name and contact number.</p>


              <label for="doctorName">Doctor's name</label>
              <input type="text" id="doctorName" name="attributes[doctor]" value="{{ cart.attributes.doctor }}" />

              <label for="doctorNumber">Doctor's number</label>
              <input type="text" id="doctorNumber" name="attributes[doctor]" value="{{ cart.attributes.doctor }}" />


            </div>

            <div class="prescription-address">
              <p>Once you have your prescription, send it to us at <a href="mailto:hello@scarlettofosoho.com">hello@scarlettofosoho.com</a></p>

            </div>
          </div>


          <h3 class="clearfix">Do you want ultra high-index lenses if necessary?</h3>

          <div class="radioOptions clearfix stage2question3">
            {% assign attribute = 'high-index' %}
            {% for i in (1..2) %}
            <div class="radioWrap clearfix">
              {% capture option %}{% cycle 'Yes', 'No' %}{% endcapture %}
              <h4 class="radioTitle">{{ option }}</h4>

              <input class="radioNode" type="radio" id="{{ option }}-{{ i }}" name="attributes[{{ attribute }}]" value="{{ option }}"{% if cart.attributes[attribute] == option %} checked="checked"{% endif %} />
              <label class="radioLabel {{ option | handleize }}" for="{{ option | handleize }}-{{ i }}">{{ option }}</label>
            </div>
            {% endfor %}
          </div>



          <h3 class="clearfix">Do you want to measure your pupillary distance (PD)?</h3>

          <div class="radioOptions clearfix stage2question4">
            {% assign attribute = 'pd-tool' %}
            {% for i in (1..2) %}
            <div class="radioWrap clearfix">
              {% capture option %}{% cycle 'measure', 'dont-measure' %}{% endcapture %}
              <h4 class="radioTitle {{ option }}">{{ option }}</h4>
              <input class="radioNode" type="radio" id="{{ option }}-{{ i }}" name="attributes[{{ attribute }}]" value="{{ option }}"{% if cart.attributes[attribute] == option %} checked="checked"{% endif %} />
              <label class="radioLabel {{ option | handleize }}" for="{{ option | handleize }}-{{ i }}">{{ option }}</label>
            </div>
            {% endfor %}
          </div>



          <div class="radioOptions clearfix">

            <div class="pd-launch">

              <h6>Measuring your pupillary distance (PD) is important for us to process your order and ensure the right fit for your prescription lens. Click on the tool below and follow the quick steps to measure your PD. </h6>

              <p><a href="http://evening-oasis-1684.herokuapp.com/" class="launch">Launch tool</a></p>
              <p>Copy your measurements from the tool and paste it here.</p>
              <input type="text" name="attributes[pd]" value="{{ cart.attributes.pd }}" />
            </div>

          </div>

        </div>




      </div>

      <div class="col-cart-right">
        {% include '__cart-price' %}

        <section class="cart-customer">
          {% include '__cart-customer' %}
        </section>

        <section class="cart-list">
          {% include '__cart-item-list' %}
        </section>

      </div>

    </div>


  </form>

  <!-- </div> -->

</section>  


<script>
  $(document).ready(function(){

    var activeColor = '#a54c3a' ;
    var inactiveColor = '#333' ;
    var checkout_prescription = true;
    var checkout_section_position = 0;
    var checkout_try_required = 4;
    var checkout_try_array = $('.checkout_try').length;
    var checkout_try_remaining = parseInt(checkout_try_required - checkout_try_array);
    var high_index_set = false;

    var checkout_buy_quantity = $('.shoppingItem').length;


    console.log("shoppingItem", $('.shoppingItem').length);

    console.log("shoppingItem", checkout_buy_quantity);


    if (checkout_buy_quantity > 0){


      $('#checkout').css('display', 'none');
      $('#continue').css('display', 'block');

    } else {

      $('#checkout').css('display', 'block');
      $('#continue').css('display', 'none');

    }


    // on load hide segment 2, 3
    $('.checkout_stage1').show();
    $('.checkout_stage2').hide();

    // on load hide segment 2, 3
    $('.checkout_breadcrumb .step1 a').css('color', activeColor);


    // hide secondary fields
    $('.prescription-upload').css('display', 'none');
    $('.prescription-doctor').css('display', 'none');
    $('.prescription-address').css('display', 'none');

    $('.pd-launch').css('display', 'none');

    $('.cart-list').css('display', 'none');






    $("h4.measure").text("Yes");
    $("h4.dont-measure").text("No");
    $("label[for='prescription-1']").text("I need prescription lenses for my glasses.");
    $("label[for='readers-2']").text("I need reading / magnifying lenses for my glasses.");
    $("label[for='non-rx-3']").text("I need non-prescription lenses for my glasses.");
    $("label[for='upload-a-picture-1']").text("I will attach a copy of my prescription and upload it from my computer.");

    $("label[for='call-my-doctor-2']").text("I would like you to call my doctor and obtain my prescription.");

    $("label[for='send-later-3']").text("I don't have my prescription right now but I will send it to Scarlett of Soho later.");

    $("label[for='yes-1']").text("Please use extra high index (1.67) lenses for an additional £35 if I have a high prescription.");

    $("label[for='no-2']").text("Please do not use extra high-index lenses for my prescription");

    $("label[for='measure-1']").text("Please measure my PD ");
    
    $("label[for='dont-measure-2']").text("Without PD, we’ll use the standard measurements 65mm Men and 63mm Women");



    // Add High Index lenses

    // check to see if it has already been added to the cart
    var checkout_hi_qty = parseInt($(".checkout_acc .hi_qty").text());

    var checkout_buy_qty = $(".checkout_buy .buy_qty").text();

    var checkout_buy_qty_total = 0


    console.log("checkout_buy_qty_total", checkout_buy_qty_total);

    // var checkout_buy_inner = parseInt($(".checkout_buy .buy_qty").text());

    for ( var i = 0; i < checkout_buy_qty.length; i++ ) {

      // var thisOne = checkout_buy_qty[i];
      console.log(checkout_buy_qty[i]);

      console.log(parseInt(checkout_buy_qty[i]));

      checkout_buy_qty_total += parseInt(checkout_buy_qty[i]);

      console.log("checkout_buy_qty_total", checkout_buy_qty_total);

      // console.log(thisOne);
      //console.log("checkout_buy_qty parsed", parseInt(checkout_buy_qty[i]);

    }

    // for ( var i = 0; i < 5; i++ ) {
    //   console.log( "try " + i );
    // }




    // var checkout_hi_qty_toString = parseInt(checkout_hi_qty);

    // console.log("checkout_hi_qty", checkout_hi_qty);


    // console.log("checkout_hi_qty_toString", checkout_hi_qty_toString);



    if (checkout_buy_qty_total == checkout_hi_qty){

      console.log ("high index qty matches the qty of specs. stop.");

    } else {
      console.log ("high index qty DOES NOT match the qty of specs.");
      hi_emptycart();
      console.log ("empty cart");
      hi_pushtocart();
      console.log ("add correct amount");

    }





    function hi_emptycart(){
     jQuery.post('/cart/change.js', {
      quantity: 0,
      id: 763367271,
    }).success(console.log("hi_emptycart success"));
   };


   function hi_pushtocart(){
     jQuery.post('/cart/add.js', {
      quantity: checkout_buy_qty_total,
      id: 763367271,
    }).success(console.log("hi_pushtocart success"));

   };







   $(".stage2question3 label[for='yes-1']").click(function(){

    if (high_index_set){
      console.log("sudah");

    } else {
      console.log("add to checkout");

      hi_pushtocart();
      high_index_set = true;


    }


  });


   $(".stage2question3 label[for='no-2']").click(function(){

     hi_emptycart();
     high_index_set = false;


   });






   function checkout_section(stepValue){

    console.log("hey you clicked on "+stepValue);
    console.log("checkout_section_position "+checkout_section_position);

    $('.checkout_breadcrumb .step1 a').css('color', inactiveColor);
    $('.checkout_breadcrumb .step2 a').css('color', inactiveColor);
    $('.checkout_breadcrumb .step3 a').css('color', inactiveColor);
    $('.checkout_breadcrumb '+stepValue+' a').css('color', activeColor);

    $('.checkout_stage1').hide();
    $('.checkout_stage2').hide();


    $('.checkout_stage'+checkout_section_position).css('display', 'block');

  };


  function gotoNextSection(position){
    console.log(position);

    if ( position == 0 ){

      $('#continue').css('display', 'block');
      $('#checkout').css('display', 'none');
      $('.checkout_stage1').fadeIn(300);
      $('.checkout_stage2').hide();
      $('.checkout_breadcrumb .step1 a').css('color', activeColor);
      $('.checkout_breadcrumb .step2 a').css('color', inactiveColor);
      $('.cart-customer').css('display', 'block');
      $('.cart-list').css('display', 'none');
    }


    if ( position == 1 ){

      $('#continue').css('display', 'none');
      $('#checkout').css('display', 'block');
      $('.checkout_stage1').hide();
      $('.checkout_stage2').fadeIn(300);
      $('.checkout_breadcrumb .step1 a').css('color', inactiveColor);
      $('.checkout_breadcrumb .step2 a').css('color', activeColor);
      $('.cart-customer').css('display', 'none');
      $('.cart-list').css('display', 'block');
    }
  };    



  $('.btnContinue').click(function(){
    checkout_section_position++;
    gotoNextSection(checkout_section_position);
  });   

  $('.checkout_breadcrumb .step1 a').click(function(){
    checkout_section_position = 0;
    gotoNextSection(checkout_section_position);
  });   

  $('.checkout_breadcrumb .step2 a').click(function(){
    checkout_section_position = 1;
    gotoNextSection(checkout_section_position);
  });   


  $('.upload-a-picture').click(function() {
    $('.prescription-upload').css('display', 'block');
    $('.prescription-doctor').css('display', 'none');
    $('.prescription-address').css('display', 'none');
  });

  $('.call-my-doctor').click(function() {
    $('.prescription-upload').css('display', 'none');
    $('.prescription-doctor').css('display', 'block');
    $('.prescription-address').css('display', 'none');
  });

  $('.send-later').click(function() {
    $('.prescription-upload').css('display', 'none');
    $('.prescription-doctor').css('display', 'none');
    $('.prescription-address').css('display', 'block');
  });

  $('.radioWrap .radioLabel').hover(function() {
    $('selector').css( 'cursor', 'pointer' );
  });

  $('.stage2question1 .radioWrap .radioLabel').click(function() {
    $('.stage2question1 .radioWrap .radioLabel').css('font-weight', 'normal');
    $(this).css('font-weight', 'bold');
  });

  $('.stage2question2 .radioWrap .radioLabel').click(function() {
    $('.stage2question2 .radioWrap .radioLabel').css('font-weight', 'normal');
    $(this).css('font-weight', 'bold');
  }); 

  $('.stage2question3 .radioWrap .radioLabel').click(function() {
    $('.stage2question3 .radioWrap .radioLabel').css('font-weight', 'normal');
    $(this).css('font-weight', 'bold');
  }); 

  $('.stage2question4 .radioWrap .radioLabel').click(function() {
    $('.stage2question4 .radioWrap .radioLabel').css('font-weight', 'normal');
    $(this).css('font-weight', 'bold');
  }); 

  $('.measure').click(function() {
    $('.pd-launch').css('display', 'block');
  });

  $('.dont-measure').click(function() {
    $('.pd-launch').css('display', 'none');
  });


  $('.launch').click(function(event) {
    event.preventDefault();
    window.open($(this).attr("href"), "popupWindow", "width=600,height=600,scrollbars=yes");
  });

  function remove_item(id) {
    document.getElementById('updates_'+id).value = 0;
    document.getElementById('cart').submit();
  }

  for ( var i = 0; i < checkout_try_remaining; i++ ) {
    var numberStamp = i + 1 + checkout_try_array;
    console.log( "generate cell " + i );
    $( "<div class=\"checkout_try empty\"><h5 id=\'test\'><strong>"+numberStamp+"</stroxng>. Please add another frame</h5></div>").appendTo( ".generate_empty_cells");
  }




});


</script>



