{% include '__has-variables' %}
{% capture vars %}
{% if product.featured_image == blank %}
{% include '__image-placeholder' %}
{% else %}
{% capture image %}
{% if settings.round-thumbnail-images and template != 'index' %}{% assign round-class = 'img-circle' %}{% endif %}
<img id="main" class="{{ round-class }}" src="{{ product.featured_image.src | product_img_url: 'grande' }}" alt="{{ product.featured_image.alt }}" itemprop="image">
{% endcapture %}
{% endif %}
{% endcapture %}
<section id="product-wrap" class="section-wrap">
	<div class="visible-xs">
		<small class="product-section">
			<strong>{{ collection.title | upcase }}</strong></small>
			<h1 itemprop="name">{{ page_title }}</h1>
		</div>
		<form id="product-form" action="/cart/add" method="post" role="form">
			<div class="row" itemscope itemtype="http://data-vocabulary.org/Product">
				<!-- images col -->
				<div class="col-sm-8 {% if settings.product-page-image-placement == 'right' %}col-sm-push-4{% endif %}">
					<div class="row">
						<div class="col-xs-12 col-sm-12 centreCopy" >

							<div class="thumbnail product-main-image">



                <div class="productHero-feature">
                 <img class="heroOffset" src="{{ product.featured_image | product_img_url: 'grande' }}" />
               </div>



               <div class="productHero-360">
                 <div id="imageStack2">
                  {% for image in product.images %}
                  {% if image contains '_360_' %}
                  <img class="lifecycleImage2 heroOffset" src="{{ image.src | product_img_url: 'grande' }}" data-index="{{ forloop.index }}" />
                  {% endif %}
                  {% endfor %}
                </div>
              </div>




              <div class="productHero-life">
               <div id="imageStack">
                {% for image in product.images %}
                {% if image contains '_Life_' %}
                <img class="lifecycleImage" src="{{ image.src | product_img_url: 'grande' }}" data-index="{{ forloop.index }}" />
                {% endif %}
                {% endfor %}
              </div>



            </div>
          </div>

          <p>Views:
            <a href="javascript:void(0);" class="productSwitch productSwitch-feature">Image</a>
            |
            <a href="javascript:void(0);" class="productSwitch productSwitch-360">360°</a>



            {% for image in product.images %}
            {% if image contains '_Life_01' %}
            |
            <a href="javascript:void(0);" class="productSwitch productSwitch-life">Model</a>
            {% endif %}
            {% endfor %}
          </p>



          <hr />
          <div id="available">
            <h5>Available colours</h5>

            {% assign currentProduct = {{product.title}} %}
            {% assign currentTags = {{product.tags}} %}
            {% for product in collection.products %}

            {% if product.tags == currentTags and currentProduct != product.title %}


            <div class="available-unit {{ product.title | handleize }} ">

             <a href="{{ product.url }}" class="relatedURL">
              <img class="available-image" src="{{ product | img_url: 'compact' }}"  alt="{{ product.title | escape }}" />
            </a>

            <p class="available-title">{{ product.title }}</p>
          </div>
          {% endif %}
          {% endfor %}

        </div>






      </div>

    </div>
  </div>


  <div class="col-sm-4 {% if settings.product-page-image-placement == 'right' %}col-sm-pull-8{% endif %}">

   <small class="product-section hidden-xs">
     <strong>{{ collection.title | upcase }}</strong>
   </small>

   <h1 class="hidden-xs" itemprop="name" id="productTitle">{{ page_title }}</h1>

   <!-- {% if has_prices %} -->

   {% include '__cart-social' %}

   <div class="product-price" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">

    <del id="compare-at-price-field" class="text-muted"></del>
    <span id="sale-field" class="label label-success" style="display: none;">{% include '__localize' with 'On sale' %}</span>
    <meta itemprop="currency" content="{{ shop.currency }}" />
    <meta itemprop="identifier" content="sku:{{ product.variants.first.sku }}" />
  </div>
  {% endif %}
  <p itemprop="description">{% include '__formatted-content' with product.description %}</p>

  {% if has_cart %}{% include 'product-add-to-cart-form' %}{% endif %}

  <div class="centreCopy">
    <p><a href="https://sos-test-2.myshopify.com/pages/take-us-for-a-spin">What are Home Try-Ons?</a><br />3-5 Business Days Shipping | Free Shipping | Free Returns</p>
  </div>

</div>


<div class="hallmarks col-sm-12 {% if settings.product-page-image-placement == 'right' %}col-sm-push-0{% endif %}">
 <h3>Scarlett of Soho Design Hallmarks</h3>
 <p>Explore the little details that distinguish our frames from the rest of the pack</p>
</div>

<div class="center col-sm-6 {% if settings.product-page-image-placement == 'right' %}col-sm-push-6{% endif %}">


 <img src="https://cdn.shopify.com/s/files/1/0538/0205/products/sos-product-technical-drawings-01.jpg" />




</div>

<div class="center col-sm-6 {% if settings.product-page-image-placement == 'right' %}col-sm-push-6{% endif %}">


 <img src="https://cdn.shopify.com/s/files/1/0538/0205/products/sos-product-technical-drawings-02.jpg" />


</div>

<div class="center hidden-xs col-sm-12 {% if settings.product-page-image-placement == 'right' %}col-sm-push-0{% endif %}">

 <img src="https://cdn.shopify.com/s/files/1/0538/0205/products/sos-points-image.jpg" />


 <!-- <img src="https://cdn.shopify.com/s/files/1/0538/0205/products/Mens-Optical-Churchill-CrystalOmbre_Info_03_1024x1024.jpg" /> -->


</div>

</div>
</form>
</section>







<div>
  <script>

   $( document ).ready(function() {



    /* Style title and price */

    var productGrab = $('#productTitle').text();
    var productIndex = productGrab.indexOf(" in ");
    if (productIndex > 0) {
      var productSnatchModel = productGrab.slice(0, productIndex)
      var productSnatchColour = productGrab.slice(productIndex, productIndex.length)
      $('#productTitle').replaceWith("<h1 class=\"hidden-xs\" itemprop=\"name\" id=\"productTitle\">"+productSnatchModel+" <span class=\"productColor\">"+productSnatchColour+"</span></h1>");
    }

     // Reconstruct Related Item URL

     var relatedItems = $('.relatedURL');
     var pathName = window.location.pathname;
     var pathPosition1 = parseInt(pathName.indexOf('/products/'));
     var pathSegment1 = pathName.slice(0, pathPosition1);

     console.log("pathName", pathName);
     console.log("pathPosition1", pathPosition1);
     console.log("relatedItems", relatedItems);
     console.log("pathSegment1", pathSegment1);




     for ( var i = 0, l = relatedItems.length; i < l; i++ ) {

      var thisURL = relatedItems[i];
      var thisHREF = $(thisURL).attr("href");
      var pathPosition2 = thisHREF.indexOf('/products/');
      var pathSegment2 = thisHREF.slice(0 , thisHREF.length);

      console.log("thisURL", thisURL);
      console.log("thisHREF", thisHREF);
      console.log("pathSegment1+pathSegment2", pathSegment1+pathSegment2);

      $(thisURL).attr('href', pathSegment1+pathSegment2 );
    }



    var imgs = $("#imageStack > img").not(function() { return this.complete; });
    var count = imgs.length;

    if (count) {
      imgs.load(function() {
        count--;
        if (!count) {
          console.log('all done');
        }
      });
    } else {
    }




    $("#imageStack img:nth-child(3)").show();

    $("#imageStack").mousemove(function(e){





     var parentOffset = $(this).parent().offset();
     var relX = e.pageX - parentOffset.left;
     var tWidth = $(this).width();
     var pos = (relX/tWidth) * 100;

     $('.lifecycleImage').hide();

     switch(true){
      case (pos < 20):
      $("#imageStack img:nth-child(5)").show();
      break;

      case (pos < 40):
      $("#imageStack img:nth-child(4)").show();
      break;

      case (pos < 60):
      $("#imageStack img:nth-child(3)").show();
      break;

      case (pos < 80):
      $("#imageStack img:nth-child(2)").show();
      break;

      case (pos < 100):
      $("#imageStack img:nth-child(1)").show();
      break;
    }

  // };


});





    $("#imageStack2 img:nth-child(1)").show();

    $("#imageStack2").mousemove(function(e){
     var parentOffset = $(this).parent().offset();
     var relX = e.pageX - parentOffset.left;
     var tWidth = $(this).width();
     var pos = (relX/tWidth) * 100;


     var divider = 2.85714285714286;

     $('.lifecycleImage2').hide();

     switch(true){


      case (pos < divider):
      $("#imageStack2 img:nth-child(9)").show();
      break;

      case (pos < (divider * 2)):
      $("#imageStack2 img:nth-child(8)").show();
      break;

      case (pos < (divider * 3)):
      $("#imageStack2 img:nth-child(7)").show();
      break;

      case (pos < (divider * 4)):
      $("#imageStack2 img:nth-child(6)").show();
      break;

      case (pos < (divider * 5)):
      $("#imageStack2 img:nth-child(5)").show();
      break;

      case (pos < (divider * 6)):
      $("#imageStack2 img:nth-child(4)").show();
      break;

      case (pos < (divider * 7)):
      $("#imageStack2 img:nth-child(1)").show();
      break;

      case (pos < (divider * 8)):
      $("#imageStack2 img:nth-child(3)").show();
      break;

      case (pos < (divider * 9)):
      $("#imageStack2 img:nth-child(2)").show();
      break;

      case (pos < (divider * 10)):
      $("#imageStack2 img:nth-child(35)").show();
      break;

      case (pos < (divider * 11)):
      $("#imageStack2 img:nth-child(34)").show();
      break;

      case (pos < (divider * 12)):
      $("#imageStack2 img:nth-child(33)").show();
      break;

      case (pos < (divider * 13)):
      $("#imageStack2 img:nth-child(32)").show();
      break;

      case (pos < (divider * 14)):
      $("#imageStack2 img:nth-child(31)").show();
      break;

      case (pos < (divider * 15)):
      $("#imageStack2 img:nth-child(30)").show();
      break;

      case (pos < (divider * 16)):
      $("#imageStack2 img:nth-child(29)").show();
      break;

      case (pos < (divider * 17)):
      $("#imageStack2 img:nth-child(28)").show();
      break;

      case (pos < (divider * 18)):
      $("#imageStack2 img:nth-child(27)").show();
      break;

      case (pos < (divider * 19)):
      $("#imageStack2 img:nth-child(26)").show();
      break;

      case (pos < (divider * 20)):
      $("#imageStack2 img:nth-child(25)").show();
      break;

      case (pos < (divider * 21)):
      $("#imageStack2 img:nth-child(24)").show();
      break;

      case (pos < (divider * 22)):
      $("#imageStack2 img:nth-child(23)").show();
      break;

      case (pos < (divider * 23)):
      $("#imageStack2 img:nth-child(22)").show();
      break;

      case (pos < (divider * 24)):
      $("#imageStack2 img:nth-child(21)").show();
      break;

      case (pos < (divider * 25)):
      $("#imageStack2 img:nth-child(20)").show();
      break;

      case (pos < (divider * 26)):
      $("#imageStack2 img:nth-child(19)").show();
      break;

      case (pos < (divider * 27)):
      $("#imageStack2 img:nth-child(18)").show();
      break;

      case (pos < (divider * 28)):
      $("#imageStack2 img:nth-child(17)").show();
      break;

      case (pos < (divider * 29)):
      $("#imageStack2 img:nth-child(16)").show();
      break;

      case (pos < (divider * 30)):
      $("#imageStack2 img:nth-child(15)").show();
      break;

      case (pos < (divider * 31)):
      $("#imageStack2 img:nth-child(14)").show();
      break;

      case (pos < (divider * 32)):
      $("#imageStack2 img:nth-child(13)").show();
      break;

      case (pos < (divider * 33)):
      $("#imageStack2 img:nth-child(12)").show();
      break;

      case (pos < (divider * 34)):
      $("#imageStack2 img:nth-child(11)").show();
      break;

      case (pos < (divider * 35)):
      $("#imageStack2 img:nth-child(10)").show();
      break;


    }
  });


var anchors_and_divs = {
	'.productSwitch-360'     :  '.productHero-360',
	'.productSwitch-life'    :  '.productHero-life',
	".productSwitch-feature" :  '.productHero-feature'
}

function hide_rest(element_to_show) {
	$(element_to_show).click(function(){
					// console.log(element_to_show);
					var div_to_show = anchors_and_divs[element_to_show];
					$('.productHero-feature').hide();
					$('.productHero-360').hide();
					$('.productHero-life').hide();
					$(div_to_show).fadeIn(300);
				});
}

hide_rest('.productSwitch-360' );
hide_rest('.productSwitch-life' );
hide_rest('.productSwitch-feature' );





// var listItems = $('.spin360');
// var listItemsLength = listItems.length;
// var listString = ($.trim(listItems[0].innerHTML));
// var position360 = listString.indexOf("360");

// var url_part1 = listString.slice(0, position360+4);
// var url_part2 = listString.slice(position360+4, position360+6);
// var url_part3 = listString.slice(position360+6, listString.length);



// $('.spritespin360').spritespin({
//   source: SpriteSpin.sourceArray(url_part1+'{frame}'+url_part3, { frame: [01,listItemsLength], digits: 2 }),
//   width: 553,
//   height: 415,
//   sense: -1,
//   renderer: 'image'
// });




var selectCallback = function(variant, selector){
			// set vars so we dont need to call the elements repeatedly
			var purchaseButton = jQuery(document.getElementById('purchase'));
			var priceField = jQuery(document.getElementById('price-field'));
			var saleField = jQuery(document.getElementById('sale-field'));
			var compareAtPriceField = jQuery(document.getElementById('compare-at-price-field'));

			var unavailableStr = '{% include '__localize' with 'Unavailable' %}';
			var addToCartStr = '{% include '__localize' with 'Add to cart' %}';
			var soldOutStr = '{% include '__localize' with 'Sold out' %}';

			// disable purchase button
			purchaseButton.removeClass('btn-primary').addClass('disabled').attr('disabled', 'disabled').val(unavailableStr);
			priceField.addClass('text-muted');
			saleField.hide();
			compareAtPriceField.html('').hide();

			if(variant){
			  // we have a variant so update the price
			  var moneyFormat = "{% if settings.show-currency-with-prices %}{{ shop.money_with_currency_format }}{% else %}{{ shop.money_format }}{% endif %}"; // we still need the correct money format if the currency converter is off
			  var formattedMoney = Shopify.formatMoney(variant.price, moneyFormat);
			  priceField.html('<span class="money">'+formattedMoney+'</span>'); // we need to refresh the the money span to invoke the currency converter if it is on

			  if(variant.compare_at_price > 0){
			    // variant is on sale
			    var compareAtFormattedMoney = Shopify.formatMoney(variant.compare_at_price, moneyFormat);
			    compareAtPriceField.html('<span class="money">'+compareAtFormattedMoney+'</span>').show();
			    saleField.show();
        }

        if(variant.available){
			    // the variant is available for purchase so enable the button
			    purchaseButton.removeAttr('disabled').removeClass('disabled').addClass('btn-primary').val(addToCartStr);
			    priceField.removeClass('text-muted');
        } else {
			    // sold out
			    purchaseButton.val(soldOutStr);
        }


        $("input[value='Try it']").click(function(e){
         $("input[value='Try it']").parents('form').attr('id', "add-item-form");
         $("input[value='Add to cart']").parents('form').attr('id', "add-item-form-100");
       });

        $("input[value='Add to cart']").click(function(e){
         $("input[value='Try it']").parents('form').attr('id', "add-item-form-100");
         $("input[value='Add to cart']").parents('form').attr('id', "add-item-form");
       });

      }
    }


  });



</script>
