<!DOCTYPE html>
<html>
<head>
  <script>
    window['friendbuy'] = window['friendbuy'] || [];
    window['friendbuy'].push(['site', 'site-da1c6728-host']);
    window['friendbuy'].push(['track', 'customer',
    {
      id: "{{customer.id}}",
      email: "{{ customer.email }}"
    //email: 'email@example.com' REPLACE WITH YOUR CUSTOMER'S EMAIL ADDRESS
  }
  ]);
    (function (f, r, n, d, b, y) {
      b = f.createElement(r), y = f.getElementsByTagName(r)[0];b.async = 1;b.src = n;y.parentNode.insertBefore(b, y);
    })(document, 'script', '//djnf6e5yyirys.cloudfront.net/js/friendbuy.min.js');
  </script>

  <script>
  (function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
      var fbds = document.createElement('script');
      fbds.async = true;
      fbds.src = '//connect.facebook.net/en_US/fbds.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(fbds, s);
      _fbq.loaded = true;
    }
    _fbq.push(['addPixelId', '258339767692806']);
  })();
  window._fbq = window._fbq || [];
  window._fbq.push(['track', 'PixelInitialized', {}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=258339767692806&amp;ev=NoScript" /></noscript>






{% include 'meta' %}
<link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
{{ '_base.scss.css' | asset_url | stylesheet_tag }}
{{ "fonts.css"  | asset_url | stylesheet_tag }}

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <!--[if lt IE 9]>
    {% assign respond_js_secret_key = (shop.domain | md5) %}
    {{ 'respond.min.js' | asset_url | script_tag }}

    <link href="{{ 'respond-proxy.html' | asset_url | split: '?' | first }}" id="respond-proxy" rel="respond-proxy" />
    <link href="{{ shop.url }}/search?q={{ respond_js_secret_key }}" id="respond-redirect" rel="respond-redirect" />
    <script src="{{ shop.url }}/search?q={{ respond_js_secret_key }}" type="text/javascript"></script>
    <![endif]-->

    {{ 'jquery.min.js' | asset_url | script_tag }}
    <script type="text/javascript">
      $('html').addClass('has-js');
    </script>
    {{ 'option_selection.js' | shopify_asset_url | script_tag }}
    {{ 'bootstrapify-option-selection.min.js' | asset_url | script_tag }}

    {% if template contains 'customers' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
    {% endif %}




    {% if settings.custom-header-code != '' %}
    {{ settings.custom-header-code }}
    {% endif %}

    {{ content_for_header }}

    {{ "jquery.currency.js" | asset_url | script_tag }}
    {{ "jquery.validate.js" | asset_url | script_tag }}

    {{ "cart_title.js" | asset_url | script_tag }}
    {{ "cart_labels.js" | asset_url | script_tag }}
    {{ "cart_hto.js" | asset_url | script_tag }}
    {{ "cart_steps.js" | asset_url | script_tag }}
    {{ "cart_hil.js" | asset_url | script_tag }}

    {{ "scripts.js" | asset_url | script_tag }}



    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.0.11.min.js"></script>
    <script type="text/javascript">
     // See the Configuring section to configure credentials in the SDK
     AWS.config.update({accessKeyId: 'AKIAIVERKOTB4NQB4GVQ', secretAccessKey: 'BrQQYoVN1l7bjRKbBavPz2sOyObeIX6w8EkY+m1e'});

     // Configure your region
     AWS.config.region = 'ap-southeast-1';
   </script>


   <!-- Facebook login -->
   {% if template contains 'template-product' %}

   {{ "add_product.js.liquid" | asset_url | script_tag }}
   {% endif %}


   {% include 'hull' %}


 </head>

 {% include '__has-variables' %}
 <body class="{% include '__body-classes' %}">

  <div id="wrap">
    {% include 'navbar' with 'top' %}

    {% if settings.logo-placement == "above-main-content" %}{% include 'brand' %}{% endif %}

    {% if settings.slider-width == "window-width" and template == "index" %}{% include 'slider' %}{% elsif settings.slider-width == "window-width" %}{% include 'banner' %}{% endif %}

    <div id="content"{% unless settings.site-wide-thumbnail-container %} class="container"{% endunless %}>

      {% if has_main_menu %}{% include 'navbar' with 'main' %}{% endif %}

      {% if settings.slider-width == "site-width" and template == "index" %}{% include 'slider' %}{% elsif settings.slider-width == "site-width" %}{% include 'banner' %}{% endif %}

      {% if settings.show-breadcrumbs and template != 'index' %}{% include 'breadcrumbs' %}{% endif %}

      <div{% unless settings.site-wide-thumbnail-container %} class="row"{% endunless %}>
      <div class="main-content {% include '__main-span' %}">
        {% if settings.slider-width == "main-content-width" and template == "index" %}{% include 'slider' %}{% elsif settings.slider-width == "main-content-width" %}{% include 'banner' %}{% endif %}
        {{ content_for_layout }}
      </div>
      {% include 'sidebar' %}
    </div>
  </div>
</div>

{% include 'footer' %}
{% include 'currencies' %}

{{ '_base.js' | asset_url | script_tag }}
{{ 'jquery.uniform_thumbnails.min.js' | asset_url | script_tag }}
{{ 'jquery.orderly.min.js' | asset_url | script_tag }}
{{ 'isotope.pkgd.min.js' | asset_url | script_tag }}
{{ 'transition.js' | asset_url | script_tag }}
{{ 'button.js' | asset_url | script_tag }}
{{ 'carousel.js' | asset_url | script_tag }}
{{ 'collapse.js' | asset_url | script_tag }}
{{ 'dropdown.js' | asset_url | script_tag }}
{{ 'modal.js' | asset_url | script_tag }}
{{ 'tooltip.js' | asset_url | script_tag }}
{{ 'popover.js' | asset_url | script_tag }}
{{ 'typeahead.js' | asset_url | script_tag }}
{{ 'jquery.instagram.min.js' | asset_url | script_tag }}

<script type="text/javascript">
  {% unless current_handle == blank %}
  $('.handle_{{ current_handle }}').parents('.collapse').addClass('in');
  {% endunless %}

  {% if thumbnail_layout == 'masonry' %}
  $('.masonry-collection').isotope({
    itemSelector: '.masonry',
    layoutMode: 'masonry'
  });
  {% else %}
  var uniformThumbnailsOpts = {};
  {% if settings.thumbnail-alignment != blank %} uniformThumbnailsOpts.align = '{{ settings.thumbnail-alignment }}'; {% endif %}
  {% if settings.thumbnail-ratio != blank %} uniformThumbnailsOpts.ratio = '{{ settings.thumbnail-ratio }}'; {% endif %}
  {% if settings.thumbnails-cropped == blank %} uniformThumbnailsOpts.fit = 'scale'; {% endif %}
  $('.thumbnail-image, .product-main-thumb').uniform_thumbnails(uniformThumbnailsOpts).on('ut_complete', function(){
    $('.product-thumbnail .caption, .collection-thumbnail .caption').orderly({ method: 'children' });
  });
  {% endif %}

  $(document).ready(function(){
    $('.search-bar').typeahead({
      name: 'Products',
      local: [{% include 'search-typeahead' %}]
    }).on('typeahead:selected', function (object, datum) {
      $(this).closest('form').submit();
    });
  });
</script>

{% if settings.custom-footer-code != '' %}
{{ settings.custom-footer-code }}
{% endif %}


<!-- Limiter -->

{% unless settings.limit == 'No limit' %}
{{ 'jquery.limit.min.js' | asset_url | script_tag }}
<script type="text/javascript" charset="utf-8">
//<![CDATA[
Shopify.Cart.setProductHandle('{{ product.handle }}');
Shopify.Cart.limit( {
  limitPer: '{{ settings.limit_per }}',
  limitQuantity: {{ settings.limit_quantity }}{% if settings.limit == 'Enabled for products listed' %},
  limitProductHandles: jQuery.trim("{{ settings.limit_product_handles }}").split(/[\s,;]+/){% endif %}{% if settings.limit_per == 'cart' and settings.limit_quantity == '1' %},
  limitSkipCartPage: {% if settings.limit_skip_cart_page %}true{% else %}false{% endif %}{% endif %}
} );
//]]>
</script>
{% endunless %}







<!-- Begin Recently Viewed Products -->
{{ '//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' | script_tag }}
{{ 'jquery.products.min.js' | asset_url | script_tag }}
{% if template contains 'product' %}
<script>
  Shopify.Products.recordRecentlyViewed();
</script>
{% endif %}
<!-- End Recently Viewed Products -->





{% for item in cart.items %}
{% if item.variant.title contains 'Authorisation' %}
{{ "cart_itemCount.js" | asset_url | script_tag }}
{% endif %}
{% endfor %}


</body>
</html>
