


<div class="checkout_titles checkout_titles_buy_acc clearfix">
  <h2>Accessories</h2>


  <div class="checkout_cell1">
    <p>Item</p>
  </div>

  <div class="checkout_cell3">
    <p>QTY</p>
  </div>

  <div class="checkout_cell4">
    <p>Price</p>
  </div>

  <div class="checkout_cell5">
    <p>Total</p>
  </div>
  <div class="checkout_cell6">
    <p class="cellHide">&#215;</p>
  </div>
</div>








{% for item in cart.items %}
{% if item.variant.title contains 'High-Index' %}
<div class="checkout_table_acc {{ item.product.title | handleize }} clearfix checkout_buy_acc_item">


  <div class="checkout_cell1">
    <a href="{{ item.url }}">
      <img src="{{ item | img_url: 'compact' }}"  alt="{{ item.title | escape }}" />
    </a>
  </div>

  <div class="checkout_cell2">
    <h5>
      <strong>{{ item.product.title }}</strong>
    </h5>
    {% if item.product.variants.size > 1 %}
    <p>{{ item.variant.title }}</p>
    {% endif %}
  </div>

  <div class="checkout_cell3">
    <p class="hi_qty">{{ item.quantity }}</p>
  </div>

  <div class="checkout_cell4">
    <p>{{ item.line_price | money }}</p>
  </div>

  <div class="checkout_cell5">
    <p><strong>{{ item.line_price | money }}</strong></p>
  </div>

  <div class="checkout_cell6">
    <p>
      <a href="/cart/change?line={{ forloop.index }}&quantity=0" class="checkout_remove cart">&#215;</a>
    </p>
  </div>

</div>

{% endif %}
{% endfor %}


<!-- <div class="generate_hto_cells"></div> -->

