<h4>Item List Cart</h4>

<div class="checkout_buy_wrap">
	{% for item in cart.items %}

  {% if item.variant.title contains 'Authorisation' %}
    <p class="home-try-on-authorisation"></p>
  {% endif %}

	{% unless item.variant.title contains 'Authorisation' %}
	<div class="checkout_buy clearfix">
		<div class="checkout_cell1">
			<img src="{{ item | img_url: 'compact' }}"  alt="{{ item.title | escape }}" />
		</div>

		<div class="checkout_cell2 {{ item.product.title | handleize }}">
			<h5>{{ item.product.title }}</h5>
			{% if item.product.variants.size > 1 %}
			<p>{{ item.variant.title }}</p>
			{% endif %}
		</div>

		<div class="checkout_cell3">

			<p>{{ item.quantity }}</p>
			<p>{{ item.line_price | money }}</p>
		</div>

		<div class="checkout_cell4">
			<p><a href="/cart/change?line={{ forloop.index }}&quantity=0" class="checkout_remove cart">&#215;</a></p>
		</div>


	</div>
	{% endunless %}
	{% endfor %}
</div>
