<h2>Home Try-Ons</h2>


<div class="checkout_titles checkout_titles_try_frames clearfix">
  <div class="checkout_cell1">
    <p>Glasses, just frames</p>
  </div>

  <div class="checkout_cell3">
    <p>QTY</p>
  </div>

  <div class="checkout_cell4">
    <p>Price</p>
  </div>

  <div class="checkout_cell5">
    <p>Total</p>
  </div>
  <div class="checkout_cell6">
    <p class="cellHide">&#215;</p>
  </div>
</div>





{% for item in cart.items %}
{% if item.variant.title contains 'Home Try-On' %}
<div class="checkout_try clearfix">
  <div class="checkout_cell1">
    <img src="{{ item | img_url: 'compact' }}"  alt="{{ item.title | escape }}" />
  </div>
  <div class="checkout_cell2">
    <h5><strong>{{ item.product.title }}</strong></h5>
    {% if item.product.variants.size > 1 %}
    <p>{{ item.variant.title }}</p>
    {% endif %}
  </div>

  <div class="checkout_cell3">
    <p>{{ item.quantity }}</p>
  </div>

  <div class="checkout_cell4">
    <!-- <p>{{ item.line_price | money }}</p> -->
    <p>&mdash;</p>
  </div>


  <div class="checkout_cell5">
    <p>FREE</p>
  </div>

  <div class="checkout_cell6">
    <p><a href="/cart/change?line={{ forloop.index }}&quantity=0" class="checkout_remove cart">&#215;</a></p>
  </div>

</div>
{% endif %}
{% endfor %}

<div class="generate_try_cells"></div>
