<div class="checkout_buy clearfix">
  <div class="checkout_cell1">
    <img src="{{ item | img_url: 'compact' }}"  alt="{{ item.title | escape }}" />
  </div>
  <div class="checkout_cell2">
    <h5><strong>{{ item.product.title }}</strong></h5>
    {% if item.product.variants.size > 1 %}
    <p>{{ item.variant.title }}</p>
    {% endif %}
  </div>
  <div class="checkout_cell3">
    <small>QTY {{ item.quantity }}</small>
    <p><strong>{{ item.line_price | money }}</strong></p>
  </div>
  <div class="checkout_cell4">
    <p><a href="/cart/change?line={{ forloop.index }}&quantity=0" class="checkout_remove cart" data-id = "{{item.id}}" >&#215;</a></p>
  </div>
</div>
