{% if settings.logo-image %}


<!-- <img src="{{ 'logo-image-file.png' | asset_url }}" alt="{{ shop.name }} {% include '__localize' with 'logo' %}"> -->

<a href="/">
<img src="{{ 'sos-logo.svg' | asset_url }}" alt="{{ shop.name }} {% include '__localize' with 'logo' %}">
</a>

{% else %} 


<a href="/">
<img src="{{ 'sos-logo.svg' | asset_url }}" alt="{{ shop.name }} {% include '__localize' with 'logo' %}">
</a>



{{ shop.name }}

{% endif %}
