


<!-- CONTACT FORM -->
{% form 'customer' %}

<!-- CONTACT FORM CONFIRMATION -->
{% if form.posted_successfully? %}
<div class="alert alert-success">
	<p>
		<strong>Thanks for contacting us!</strong>
		<br/>We'll get back to you as soon as possible.
	</p>
</div>
{% endif %}

<!-- CONTACT FORM ERROR -->
{% if form.errors %}
<p class="alert alert-error">
	<!-- {{ form.errors.size }} or {{ form.errors | size }} -->
	Oops, sorry. We were unable to submit your inquiry because it contained {{ form.errors | size | pluralize: 'an error', 'a few errors' }}. Please correct the following and submit again:<br>
	{% for field in form.errors %}
	The {{ field | capitalize | replace: 'Body', 'Message' }} field {{ form.errors.messages[field] }}.
	{% endfor %}
</p>
{% endif %}

<!-- CONTACT FORM INPUTS -->
  <input type="hidden" id="contact_tags" name="contact[tags]" value="prospect,newsletter"/>
  <p><strong>Enter your email to join our mailing list</strong></p>
  <input type="text" id="contact_email" name="contact[email]" class="form-control" />
  <input type='submit' class="submit btn btn-primary" />
  

{% endform %}